body {
  background-color: #fbe8c9;
  font-family: Roboto, sans-serif;
  color: black;
}

.display,
button {
  border: 2px solid black;
}

.container,
.row {
  display: flex;
}

.container {
  width: 300px;
  height: 450px;
  flex-direction: column;
  margin: 32px auto;
  padding: 16px;
  border: 4px solid black;
  border-radius: 10px;
  justify-content: space-around;
  gap: 16px;
  background-color: #ed8728;
  box-shadow: -4px 4px #412f0d, -3px 3px #412f0d, -2px 2px #412f0d;
}

.display {
  text-align: right;
  border-radius: 2px;
  padding: 8px;
  font-size: 36px;
  background-color: #fbe8c9;
}

.row,
button {
  flex: 1;
  justify-content: space-around;
  gap: 12px;
}

button {
  border-radius: 6px;
  font-size: 24px;
  cursor: pointer;
  box-shadow: -2px 2px #412f0d, -1px 1px #412f0d, -0.5px 0.5px #412f0d;
}

.number {
  background-color: #f6ca97;
}

.number:active {
  background-color: #a67a49;
}

.operator,
#equals {
  background-color: #fbcf67;
}

.operator:active,
#equals:active {
  background-color: #ac852b;
}

#clear {
  background-color: #fbb825;
}

#clear:active {
  background-color: #8c6002;
}